.option {
    display: flex;
    justify-content: space-between;
    padding: $sm-size;
    border-bottom: 1px solid lighten($color: #a6b9ec, $amount: 10%);
    margin-top: 0;
}

.option-error {
    font-style: italic;
    color: rgb(235, 113, 0);
    margin: 2rem, 0, 0, 0;
}

.option-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    word-break: break-all;
}