.widget-header {
    padding: $sm-size;
    margin: 0;
    background: $blue;
    border: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.widget__title {
    font-weight: 500;
    font-size: 2rem;
    color: $off-white;
}

.widget__message {
    padding: 2rem;
    margin: 0;
    border: 0.3rem solid darken(rgba(150, 147, 167, 0.2), 20%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.add-option {
    display: flex;
    justify-content: space-between;
    padding: $sm-size;
    background: $blue;
    margin: 0;
}

.add-option--input {
    display: flex;
    flex-grow: 1;
    background: rgba(14, 14, 27, 0.333);
    color: $off-white;
    border: none;
    border-bottom: 0.5rem solid darken(#213344, $amount: 10%);
    margin: 0 $sm-size 0 0;
    padding: $sm-size;
}

@media (max-width:45rem) {
    .add-option {
        flex-direction: column;
    }
    .add-option--input {
        margin: 0 0 $sm-size 0;
    }
}